{% extends '::layout.html.twig' %}

{% block title %}Jornades{% endblock %}
{% block menu %}
{% include 'BlogBundle:Default:menu.html.twig' with {'menu': 'jornades'} %}
{% endblock %}
 {% block content %}
 

<div id="jornades">
	{% for jornada in jornades %}

			<h2 class="titol_jornada"><a href="{{ path('jornada',{'titol':jornada.slug})}}">{{ jornada.titol|raw }}</a></h2>
			
			<div class="descripcio">
			{{ jornada.descripcio|raw }}
			
			</div>
			{% if jornada.dataRealitzacio is not null %}
			
			<div class="separador_lloc">
			{{ jornada.dataRealitzacio }}
			</div>
			
			
			{% else %}
			
			<div class="separador"></div>
			
			{% endif %}
	{% endfor %}

</div>

{% endblock %}