{% extends '::layout.html.twig' %}

{% block title %}Ponències{% endblock %}
{% block menu %}
{% include 'BlogBundle:Default:menu.html.twig' with {'menu': 'projectes'} %}
{% endblock %}
 {% block content %}
<p>en construcció</p>

{% endblock %}