<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>L'Aula al Pati : {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('/bundles/blog/css/reset.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('/bundles/blog/css/estil.css') }}" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    
    <body>
   
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
       
		{% block menu %} {% endblock %}
		
				        
		 <div id="content">		        

        {% block content %}
        {% endblock %}
        </div>
        <div id="footer">
       		<ul>
		       	<li>
		       		<p>organitza:</p>
		       		<a href="http://www.lopati.cat" target="_blank"><img src="/images/logo_LoPati.jpg" alt="logotip lo pati" title="logotip lo pati"></a>
		       	</li>
		       	<li>
		       		<p>col·labora</p>
		       		<a href="http://www.gencat.cat/ensenyament" target="_blank"><img src="/images/gencat_ensenyament.jpg" alt="logotip departament ensenyament" title="logotip departament ensenyament gencat"></a>
		       		<a href="http://www.acvic.org/" target="_blank"><img src="/images/acvic.jpg"  alt="centre d'arts contemporanies" title="centre d'arts contemporanies"></a>
		       				
		       	</li>
		       	<li>
		       		<p>amb el suport de:</p>
		       		<a href="http://www.amposta.cat" target="_blank" style="position:relative; top:-10px"><img src="/images/ajuntament-amposta.jpg"  alt="logotip ajuntament amposta" title="ajuntament amposta"></a>
		       		<a href="http://www.gencat.cat/cultura" target="_blank"><img src="/images/gencat_cultura.jpg" alt="logotip departament cultura" title="logotip departament cultura gencat"></a>
		       		<a href="http://www.diputaciodetarragona.cat" target="_blank"><img src="/images/diputacio_tarragona.jpg"  alt="logotip diputacio tarragona" title="logotip diputacio tarragona"></a>
		       		<a href="http://www.museuterresebre.cat" target="_blank" style="position:relative; top:-10px"><img src="/images/logo-museu-terres-ebre.png" width=60 alt="logotip museu terres ebre" title="logotip museu terres ebre"></a>
		       		
		       	</li>
     	  </ul>
       
       </div>
  
        
        

    </body>
</html>