body{
	
background-image:url('/images/logo_AulaLoPati.jpg');
background-color:#FFF;
background-repeat:no-repeat;
width:960px;
margin-top:270px;
color:#666;	
}

a{
	color:#1D6880;
	text-decoration:none;
}
p{
	margin: 10px 0;
	font-size:0.9em;
	line-height:1.1em;;
}
#menu{

	width:245px;
	
	text-align:right;
	color:#1D6880;
	font-weight:bold;
	float:left;
	margin-bottom:35px;
	
}
#menu ul li{
	
	font-size:1em;
	margin: 10px 0;
	
}


#content{
		margin-left:100px;
		float:left;
		width:615px;
		margin-bottom: 35px;
		
	
}
#footer{

	border-top-style:solid;
	border-width:1px;
	border-color: #CDCDCD;
	width:960px;
	height:300px;
	clear:both;
}
#footer ul{
margin-left:279px;
margin-top:35px;
}
#footer ul li{
	margin: 0 20px;
	float:left;
	width:auto;
	
	
}
#footer ul li p{
	font-size:0.9em;
margin-bottom:20px;
	
	
}
#footer ul li a{

margin-right:10px;
float:left;	
	
}
#footer ul li img{
width:70px;
	
}
#jornades{
	margin-top:10px;
	
}
.actiu{
	color: #666;
	
}
.separador{
	width:100%;
	margin: 25px 0;
	clear:both;
	border-top-style:solid;
	border-width:1px;
	color:#CDCDCD;
	
}

.separador_lloc{
	position:relative;

	width:auto;
	margin: 15px 0;
	clear:both;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#CDCDCD;
	text-align:right;
	color:#1D6880;
	padding: 10px 0;
	font-size:0.9em;
	background-image:url('/images/diagonal.jpg');
	background-color:#FFF;
	background-repeat:no-repeat;
	background-position:300px 0px;
	
}
strong, b {
font-weight: bold;
}
.titol_jornada{
	font-size:1.2em;
	color:#1D6880;
	font-weight: bold;
	margin-bottom:15px;
	
}
.titol_jornada p{
	margin:0;
}
.descripcio p{
	margin:0;
	
}
.peu_foto{
	margin-top:0px;
	text-align:right;
	
}