body{
	
background-image:url('/images/logo_AulaLoPati.jpg');
background-color:#FFF;
background-repeat:no-repeat;
width:960px;

	
}
#main{

	width:960px;
	height: 1000px;

	
}
#prova{
	display:block;
	float:left;
	
}
#menu{

	width:245px;
	height:300px;
	text-align:right;
	color:#1D6880;
	font-weight:bold;
	float:left;
	
}
#menu ul li{
	
	font-size:1em;
	margin: 10px 0;
	
}


#content{
	margin-left:100px;
		float:left;
		width:615px;
		height:600px;
	
	
}
#footer{
	position:relative;
	border-top-style:solid;
	border-width:medium;
	width:960px;
	height:300px;
}
#footer ul{
margin-left:150px;
}
#footer ul li{
	margin: 0 20px;
	float:left;
	width:auto;
	
	
}
#footer ul li p{
margin-bottom:20px;
	
	
}
#footer ul li a{

margin-right:10px;
float:left;	
	
}
#footer ul li img{
width:70px;
	
}
